@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
}

h2, p, button {
    font-family: 'Open Sans';
}

header {
    background-image: url(../midias/header_background_desktop.png);
    background-size: cover;
    height: 459px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 52%;
    text-align: center;
}

.header h1 {
    font-family: 'Luckiest Guy';
    text-transform: uppercase;
    font-size: 3.5rem;
    max-width: 50%;
    margin: 0 auto;
    color: #ffffff;
    padding-bottom: 24px;
}

.header div {
    padding-top: 24px;
    width: 100%;
}

.header button {
    border: none;
    border-radius: 28px;
    font-size: 1rem;
}

.baixar {
    background-color: #ffffff;
    color: #23272A;
    padding: 11px 23px;
    margin-right: 16px;
}

.abrir {
    background-color: #23272A;
    color: #ffffff;
    padding: 11px 17px;
}

main {
    text-align: center;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
    column-gap: 16px;
    margin: 40px 20px 0;
}

main img {
    max-width: 49%;
}

main span {
    max-width: 348px;
}

main h2 {
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 16px;
}

.footer {
    display: inline-block;
    text-align: center;
    max-width: 50.2rem;
    margin-top: 40px;
}

.footer h2 {
    font-family: 'Luckiest Guy';
    text-transform: uppercase;
    max-width: 38rem;
    margin: 0 auto;
}

.footer img {
    padding-top: 16px;
    max-width: 97.7%;
}

footer {
    background-color: #23272A;
    max-height: 134px;
    display: flex;
    justify-content: center;
    padding: 35px 0;
}

@media (max-width: 1200px) {
    html, body {
        font-size: 14px;
    }

    .header {
        width: 60%;
    }
}

@media (max-width: 940px) {

    .header {
        width: 80%;
    }
}

@media (max-width: 655px) {
    header {
        background-image: url(../midias/header_background_mobile.png);
    }

    .header {
        width: 100%;
        text-align: initial;
        padding: 0 24px;
    }

    .header h1 {
        margin: 0;
        max-width: 53%;
    }

    .header button {
        display: block;
        width: 100%;
    }

    .baixar {
        margin: 0 0 16px 0;
    }

    main div {
        flex-wrap: wrap;
        padding: 40px 0;
        margin-top: 0;
    }

    main h2 {
        padding-bottom: 24px;
    }

    main img {
        min-width: 283px;
        padding-bottom: 24px;
    }

    .container img {
        order: 1;
    }

    .container span {
        order: 2;
    }

    .footer {
        margin-top: 0;
    }
}